
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Main -->
<div id="main">
    <!-- Post -->
    @* Test Comment *@
    <article class="post">
        <header>
            <div class="title">
                <h1>Take a look at our project members</h1>
                <p>Learn a little about who we are!</p>
            </div>
        </header>
        <table style="width: 90%;" width="597">
            <tbody>
                <tr>
                    <td style="width: 25%;" scope="col">
                        <span style="color: #676761;">
                            <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/lightbulb.png" />
                        </span>
                    </td>
                    <td style="width: 80%;" scope="col">
                        <p dir="ltr">
                            <span style="color: #676761;">
                                <strong>
                                    Purpose of the Project <br /><span style="color: #3cafe4;">
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p dir="ltr">
                            <span style="color: #676761;">
                                Our goal in creating this website was to provide attendees of technology conferences more information about what they may expect
                                from the speakers at those events. Because tickets to these conferences can be very pricey, our group saw an opportunity to help
                                provide fellow technology industry people with firsthand information from others who have attended events and can now have an avenue
                                to share their feedback. <br/>
                                We hope you find this page useful!
                            </span>
                        </p>
                    </td>
                </tr>
                </tbody>
                </table>

                <table style="width: 90%;" width="597">
                    <tbody>
                        <tr>
                            <td style="width: 25%;" scope="col">
                                <span style="color: #676761;">
                                    <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/megan.png" />
                                </span>
                            </td>
                            <td style="width: 80%;" scope="col">
                                <p dir="ltr">
                                    <span style="color: #676761;">
                                        <strong>
                                            Megan Balcom <br /><span style="color: #3cafe4;">
                                                <a href="https://www.linkedin.com/in/mebalcom" target="_blank">
                                                    LinkedIn
                                                    <br />
                                                </a>
                                                <a href="http://meganbalcom.github.io/" target="_blank">
                                                    GitHub
                                                    <br />
                                                </a>
                                                <br />
                                                <strong>Major: </strong>BSBA Computer Information Systems - Concentration in Web Development / Minor in Political Science
                                                <br />
                                                <strong>Interests: </strong>Cooking Pinterest recipes, playing with dogs, keeping up with current events, drinking coffee, trying foreign beer, traveling, and enjoying sunshine outside whenever possible
                                                <br />
                                                <strong>Favorite technology topics: </strong>Software development, UI/UX design, database design, query optimization, virtualization and product development
                                            </span>
                                        </strong>
                                    </span>
                                </p>
                                <p dir="ltr">
                                    <span style="color: #676761;">
                                        <strong>About</strong><br />
                                        Megan is fairly new to the technology field - she was halfway done with a political science degree until her identical twin sister convinced her to take an introductory information systems class.
                                        Despite this late start, Megan hasn't looked back since and currently works as an IT Infrastructure Engineer intern at Louisville Gas and Electric. She gets to learn about servers, routers, switches and other cool
                                        technology all day. When she isn't in school or working, Megan enjoys spending time with her loved ones and doing activities that allow her to get away from a
                                        computer screen for a little bit.
                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%;" scope="col">
                                <span style="color: #676761;">
                                    <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/paige.png" />
                                </span>
                            </td>
                            <td style="width: 80%;" scope="col">
                                <p dir="ltr">
                                    <span style="color: #676761;">
                                        <strong>
                                            Paige Fenwick <br /><span style="color: #3cafe4;">
                                                 <a href="https://www.linkedin.com/in/paigefenwick" target="_blank">
                                                 LinkedIn
                                                  <br />
                                                 </a>
                                                <a href="http://penwick93.github.io/" target="_blank">
                                                   GitHub
                                                   <br />
                                                 </a>
                                                <br />
                                                <strong>Major: </strong>BSBA Computer Information Systems - Concentration in Web Development and Information Security
                                                <br />
                                                <strong>Interests: </strong>Kayaking, enjoying the outdoors through hiking and exploring, keeping up with current events, exploring Louisville and the rest of the world as much as possible.
                                                <br />
                                                <strong>Favorite technology topics: </strong>Information Security topics such as forensics and penetration testing, software development, mobile security, and mobile development.
                                            </span>
                                        </strong>
                                    </span>
                                </p>
                                <p dir="ltr">
                                    <span style="color: #676761;">
                                        <strong>About</strong><br />
                                        Paige is a senior at the University of Louisville getting ready to graduate with her BSBA from the College of Business. She has enjoyed her time as a Louisville Cardinal and has been involved with a variety of campus activities including
                                        being a member of Delta Zeta Sorority, a member of the Animal Welfare Committee and even spent time as an Athletic tutor for the university. She is currently working as an IT Security Intern at LG&E and plans to continue her career there after 
                                        graduation in December. She is excited to advance her education and career in the future by pursuing her masters as well as a variety of certifications within the IT Security field. 
                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%;" scope="col">
                                <span style="color: #676761;">
                                    <img style="margin: 20px 0px; width: 300px;" src="@Url.Content("~/Content/MyTemplate/")images/#" />
                                </span>
                            </td>
                            <td style="width: 80%;" scope="col">
                                <p dir="ltr">
                                    <span style="color: #676761;">
                                        <strong>
                                            Kelly Majors <br /><span style="color: #3cafe4;">
                                                <a href="#" target="_blank">
                                                    Contact her
                                                    <br />
                                                </a>
                                                <a href="#" target="_blank">
                                                    GitHub
                                                    <br />
                                                </a>
                                                <br />
                                                <strong>Major: </strong>
                                                <br />
                                                <strong>Interests: </strong>
                                                <br />
                                                <strong>Favorite technology topics: </strong>
                                            </span>
                                        </strong>
                                    </span>
                                </p>
                                <p dir="ltr">
                                    <span style="color: #676761;">
                                        <strong>About</strong><br />
                                        Info here
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </article>
</div>

