@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Main -->
<div id="main">
    @* test comment *@
    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h1>Get in touch with us!</h1>
                <p>Look below to get in touch with our team of developers.</p>
            </div>
            <div class="meta">
                <time class="published" datetime="2016-04-27">April 27, 2016</time>
                <a href="#" class="author"><span class="name">CIS 411 Final Project</span><img src="@Url.Content("~/Content/MyTemplate/")images/flower-avatar.png" alt="" /></a>
            </div>
        </header>
        <address>
            <strong>Megan:</strong>   <a href="mailto:meg.balcom@gmail.com">meg.balcom@gmail.com</a><br />
            <strong>Paige:</strong> <a href="mailto:#">#</a><br />
            <strong>Kelly:</strong>   <a href="mailto:#">#</a>
        </address><br />
        <a href="#" class="image featured"><img src="@Url.Content("~/Content/MyTemplate/")images/cob.jpg" alt="" /></a>
    </article>
    </div>
